body{
    text-align: center;
    background-image: url("https://image.freepik.com/free-photo/four-pastel-color-cloud-sky-background-with-pastel-color_40163-14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
canvas {
    border: 1px solid black;
    background-color:lightyellow;
    border-radius: 2%;
}
button{
    width: 7%;
    height:40px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}